body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: black;
}

/**
HEADER
*/

h1 {
  color: rgb(75, 161, 115);
}

#header-container {
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

#list-container {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

/**
CONTAINER
*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#main-container {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 300px;
  width: 1000px;
  border-radius: 15px;
}

h2 {
  text-decoration: none;
  font-weight: 400;
}

#container-title {
  margin-top: 20px;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
}

#booking-trips-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 150px;
}

.empty-booking {
  text-align: center;
  color: #999;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.booking-trips-elements {
  display: flex;
  background-color: rgb(242, 238, 238);
  height: 65px;
  width: 850px;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#booking-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}

#border {
  height: 0;
  width: 180px;
  border: 1px black solid;
  text-align: center;
}

#footer-text {
  margin-bottom: 30px;
  color: rgb(75, 161, 115);
}

#booking-trips-container::-webkit-scrollbar {
  width: 8px;
}

#booking-trips-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#booking-trips-container::-webkit-scrollbar-thumb {
  background: rgb(75, 161, 115);
  border-radius: 10px;
}

#booking-trips-container::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 141, 95);
}
