body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: black;
}

/**
HEADER
*/

h1 {
  color: rgb(75, 161, 115);
}

#header-container {
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

#list-container {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

/**
CONTAINER
*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#main-container {
  margin-top: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 400px;
  width: 1000px;
  border-radius: 15px;
}

#container-title {
  margin-top: 20px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

#cart-trips-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 150px;
}

.empty-cart {
  text-align: center;
  color: #999;
}

.cart-trips-elements {
  display: flex;
  background-color: rgb(242, 238, 238);
  height: 65px;
  width: 850px;
  justify-content: space-around;
  border-radius: 5px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-button {
  background-color: rgb(75, 161, 115);
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

#cart-footer {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background-color: rgb(23, 23, 77);
  width: 100%;
  color: white;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#price {
  margin-left: 70px;
}

#purchase-button {
  height: 30px;
  width: 90px;
  margin-right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: rgb(75, 161, 115);
  cursor: pointer;
}

#cart-trips-container::-webkit-scrollbar {
  width: 8px;
}

#cart-trips-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#cart-trips-container::-webkit-scrollbar-thumb {
  background: rgb(75, 161, 115);
  border-radius: 10px;
}

#cart-trips-container::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 141, 95);
}
