body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

a {
  text-decoration: none;
  color: black;
}

/**
HEADER
*/

h1 {
  color: rgb(75, 161, 115);
}

#header-container {
  height: 70px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

#list-container {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

/**
CONTAINER
*/

main {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 300px;
  width: 1000px;
}
